/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* Body */
body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    background: linear-gradient(to right, #2A114B, #FAE5D8);
    color: #180018;
}

/* Container */
.container {
    width: 85%;
    margin: auto;
}

/* Navbar */
nav {
    background: #180018;
    color: #FAE5D8;
    position: sticky;
    top: 0;
    z-index: 1000;
    font-weight: bold;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    color: #FAE5D8;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #FAE5D8;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #DFB6B2;
}

/* Hero */
.hero {
    height: 90vh;
    background: linear-gradient(to right, #522959, #824D69);
    color: #FAE5D8;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero span {
    color: #DFB6B2;
}

.hero p {
    margin: 20px 0;
    font-size: 1.2rem;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background: #DFB6B2;
    color: #180018;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
}

.btn:hover {
    background: #FAE5D8;
}

/* Sections */
.section {
    padding: 80px 0;
    text-align: center;
}

.section h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.light {
    background: #DFB6B2;
}

/* Projects */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 40px;
}

.card {
    background: #FAE5D8;
    color: #180018;
    padding: 25px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(24, 0, 24, 0.3);
}

/* Footer */
footer {
    background: #180018;
    color: #FAE5D8;
    text-align: center;
    padding: 20px 0;
}

/* Responsive */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .hero h1 {
        font-size: 2rem;
    }
}

.card img {
    width: 100%;
    height: 200px;        /* you can adjust this */
    object-fit: cover;    /* keeps it nicely cropped */
    border-radius: 8px;
    margin-bottom: 15px;
}
body {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
}

h1 {
    font-weight: 700;
}

p {
    font-weight: bold; 
}
